*{
    margin: 0%;
    padding: 0%;
}

.center{
    margin: 150px auto 0px auto;
    display: flex;
    justify-content: center;
    width: 50rem;
}

#logs{
    width: 25rem;
}

button{
    width: 25rem;
}

#mensagem-error-email{
    text-align: center;
    font-size: 8pt;
    padding: 0%;
    margin: 0%;
    color: red;

}

